/* ==========================================================================
Pickup
========================================================================== */
.checkout-select-store {
	padding-left: 25px;
}

.checkout-select-store__estimation {
    padding-left: 25px;
}

.one-store {
	padding: 10px 0 15px 0;
}

.one-store__radio {
	float: left;
}

.one-store__label{
	margin: -12px 58% 0 25px;
}

.one-store__name {
	font-weight: bold;
}

.one-store__description p{
	color: rgb(115, 115, 115);
}

.checkout-select-store__map 
{
    float: right;
    width: 56%;
    height: 400px;
    border: 1px solid rgb(151, 151, 151);
    margin: 0 0 20px 0;
}

.checkout-select-store__map-details
{
    float: left;
    width: 100%;
    height: 300px;
    border: 1px solid rgb(151, 151, 151);
    margin: 0 0 20px 0;
}

@media (max-width: 767px) {

    .checkout-select-store__map 
    {
        float: none;
        width: 100%;
    }

    .checkout-select-store {
        float: none;
        width: 100%;
    }

}
/* /Pickup */

/* ==========================================================================
Pickup locator
========================================================================== */
.pickup-location {
    margin-top: 10px;
}
.ty-pickup-location__map-wrapper {
    float: none;
    width: 100%;
    height: 450px;
    border: 1px solid #979797;
    margin: 0 30px 5px 0;
}
.ty-pickup-location__locations-wrapper {
    display: block;
    vertical-align: top;
    overflow: hidden;
}

.ty-pickup-location__item
{
    padding: 15px 0;

}

h3.ty-pickup-location__item-title {
    font-size: 18px;
    padding-right: 10px;
}

h2.pickup-location-city-title {
    font-size: 24px;
    padding-right: 10px;
    margin-top: 10px;
}

.ty-pickup-location__item-desc {
    padding-right: 10px;
}

.ty-pickup-location__item-country {
    font-size: 13px;
    font-weight: normal;
}
o
.ty-pickup-location__item-view {
    margin: 20px 0;
}

/* /Store location */